.u-block-0882-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-0882-3 {
  position: absolute;
  left: 0;
}

.u-block-0882-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ScreenShot2023-02-26at4.36.01PM.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  margin: 176px auto 0 321px;
}

.u-section-1-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  width: 837px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 265px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/iiitd.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  font-size: 3rem;
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/jp.jpeg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 837px;
  font-size: 3rem;
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1813px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 735px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 120px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 805px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px auto 0;
}

.u-section-2 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("images/IMG_9391.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 20px 36px 0;
}

.u-section-2 .u-image-2 {
  width: 1104px;
  height: 776px;
  margin: 16px 0 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1543px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 703px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 805px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 42px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 23px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 559px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/Wesleyan.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/iiitd2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/JUIT.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 459px;
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -431px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 870px;
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -842px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 926px;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -845px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 805px;
  margin: 49px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ScreenShot2023-01-21at12.08.31AM.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 213px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 83px auto 0 211px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: -48px 221px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 64px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1467px;
}

.u-section-6 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-7 {
  background-image: none;
  padding: 0;
}.u-section-7 .u-sheet-1 {
  min-height: 947px;
}

.u-section-7 .u-text-1 {
  margin: -120px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/9d63430d-8f5d-4697-9139-18d3979ac77d.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 883px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  width: 680px;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: none;
  align-self: center;
  margin: 30px auto 0;
  padding: 12px 78px 13px;
}

.u-section-8 .u-video-1 {
  width: 640px;
  height: 360px;
  margin: 40px auto 60px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-8 .u-video-1 {
    margin-right: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-8 .u-video-1 {
    margin-right: auto;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-video-1 {
    height: 257px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 128px;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 706px;
  margin: 25px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    width: 445px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-10 {
  min-height: 1188px;
}

.u-section-10 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: 0;
  right: auto;
  background-image: none;
}

.u-section-10 .u-image-1 {
  width: 374px;
  height: 374px;
  box-shadow: 2px 2px 29px 0 rgba(0,0,0,0.25);
  background-image: url("images/ScreenShot2023-01-21at8.59.33PM.png");
  background-position: 50% 50%;
  margin: 60px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-10 .u-image-2 {
  width: 552px;
  height: 552px;
  object-position: 43.94% 50%;
  background-position: 50% 50%;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
  background-image: url("images/ScreenShot2023-01-21at8.55.37PM.png");
  margin: -199px auto 0 calc(((100% - 1140px) / 2) + 173px);
}

.u-section-10 .u-image-3 {
  width: 367px;
  height: 367px;
  background-image: url("images/ScreenShot2023-01-21at8.57.08PM.png");
  background-position: 50% 50%;
  margin: -724px calc(((100% - 1140px) / 2) + 91px) 0 auto;
}

.u-section-10 .u-image-4 {
  width: 367px;
  height: 367px;
  background-image: url("images/ScreenShot2023-01-21at9.02.10PM.png");
  background-position: 50% 50%;
  margin: 245px auto 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-10 .u-group-1 {
  width: 515px;
  min-height: 361px;
  background-image: none;
  margin: -377px calc(((100% - 1140px) / 2) + 133px) 76px auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-10 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 173px);
  }

  .u-section-10 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 91px);
  }

  .u-section-10 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 38px);
  }

  .u-section-10 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 133px);
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-10 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 168px);
  }

  .u-section-10 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + 91px);
  }

  .u-section-10 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 38px);
  }

  .u-section-10 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + 133px);
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1176px;
  }

  .u-section-10 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-10 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-image-3 {
    margin-top: -712px;
    margin-right: calc(((100% - 540px) / 2) + 91px);
  }

  .u-section-10 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 38px);
  }

  .u-section-10 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + 25px);
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 888px;
  }

  .u-section-10 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -165px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -512px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-group-1 {
    width: 340px;
    margin-top: -350px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 128px;
}

.u-section-11 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 706px;
  margin: 49px auto 0;
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 607px;
}

.u-section-12 .u-text-1 {
  margin: 1px 0;
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-top: 83px;
    margin-bottom: 0;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 369px;
}

.u-section-13 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-13 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-13 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 208px;
  min-width: 115px;
  margin: 0 auto;
}

.u-section-13 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 98px;
  }
}